[submodule "inject.dart"]
	path = inject.dart
	url = https://github.com/google/inject.dart
[submodule "lib/vendor/inject.dart"]
	path = lib/vendor/inject.dart
	url = https://github.com/google/inject.dart
